<h1>DM Show</h1>

<div class="blindcenter group-paths">
<%= link_to "All Monsters", monsters_path %>
<%= link_to "All Players", players_path %>
<%= link_to "All Encounters", encounters_path %>

</div>
