<div class="flex-container group-paths" >
  <a href = "/players/new"  type="btn btn-primary" class="btn btn-primary">Create a New Player</a>
  <a href='/encounters' type="btn btn-primary" class="btn btn-primary">All Encounters</a>
  <a href='/monsters' type="btn btn-primary" class="btn btn-primary">All Monsters</a>
        
</div>

<h1>Welcome to your Players Index Page</h1>


<h1>My Players</h1>


<% @players.each do |player| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= player.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Another Brave Adventurer</h6>
    <p class="card-text"><li>HP: <%= player.player_hp %> </li></p>
    <p class="card-text"><li>Level: <%= player.player_level %> </li></p>

    <%= link_to "Details", player, class: "card-link", id: "player_details" %>
  </div>
</div>


<% end %>



