/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');
main{
    width: 80%;
    max-width:1000px;
    margin: 0 auto; 
}
 body {
     background-color: lightblue;
    background-image: url(/assets/bg_template.jpg);
    
 }

 h1, h2, h3, h4, h5, a {
    font-family: "Metal Mania";
 }

 p {
    background-color: rgba(185, 83, 0, 0.1);
    font-family: "Metal Mania";
 }

 h1{
    text-align: center;

 }

 .grid-container {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-gap: 10px;
  
  padding: 10px;
  background-color: rgba(185, 83, 0, 0.1);
  font-family: "Metal Mania";
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  background-color: rgba(185, 83, 0, 0.1);
  font-family: "Metal Mania";
}

.item1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.item3 {
  grid-column-start: 2;
  grid-column-end: 3;
}

 .flex-container{

     display: grid;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-evenly;

     
    // flex-flow: row wrap;
    // align-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
    text-align: center;

}

.flex-container3col{

  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

  
 // flex-flow: row wrap;
 // align-content: space-around;
 grid-template-columns: 1fr 1fr 1fr;
 grid-row-gap: 1em;
 text-align: left;
 & > span{
   padding-left: 15px;
 }
  
}



.centeredbox{
    display: inline-block;
    text-align: center;
    align-content: center;
}

.blindcenter{
    text-align: center;
}


.button_to {
    display: inline;
    
}

.button_submit {
    background-color: rgba(185, 83, 0, 0.5);
}
  
form {
  position: relative;

  background-color: rgba(185, 83, 0, 0.1);

  width  : 740px;
  height : 498px;
  margin : 0 auto;
}

label {
  font : .8em "Metal Mania", sans-serif;
}



input, textarea {
  font    : .9em/1.5em "Metal Mania", sans-serif;

  border  : none;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;
  box-shadow: 2px 2px 1px black;
  background: none;
}

textarea {
  display : block;

  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 340px;
  height  : 360px;

  resize  : none;
  overflow: auto;
}



input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
}



button {
  position     : absolute;
  left         : 440px;
  top          : 360px;

  padding      : 5px;

  font         : bold .6em sans-serif;
  border       : 2px solid #333;
  border-radius: 5px;
  background   : none;

  cursor       : pointer;

-webkit-transform: rotate(-1.5deg);
   -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
     -o-transform: rotate(-1.5deg);
        transform: rotate(-1.5deg);
}

button:after {
  content: " >>>";
}

button:hover,
button:focus {
  outline   : none;
  background: #000;
  color   : #FFF;
}

#centered_form{
   display: flexbox;
    text-align: center;
    justify-content: center;
}
    

.group-paths{
    display: inline-grid;
    //grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: auto;
    grid-column-gap: 5%;
    a{
         color: darkslategray;
  padding: 5px 7px;
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  border: 3px ridge darkslategray;
  padding: 10px;
  width: 135px;
  font-size: 1em;
  display: block;
  align-content: space-around; 
  border-radius: 4px;
  color: rgba(255,255,255,.6);
  margin-left: 10px;
  background: darkslategray;
  letter-spacing: 1px;
  -webkit-transition: all 300ms;
  float: left;
    } 
    a:hover {
    background: rgba(0,0,0,.5);
  color: darkslategray;
  border-color: rgba(0,0,0,1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 1px 1px rgba(0,0,0,.2);
  font-weight: normal;
  letter-spacing: 2px;
    }
}


.blindcenter a{
    margin: auto;

}






a.button:active {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.2);
}

#center {
  width: 694px;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50px;
  padding: 0;
  height: 43px;
}

form input{
    width: 25%;
}

input[type=checkbox]{
    width: 5%
}

input[type=text] {
    background-color: rgba(188, 143, 60, 0.5);
    color: rgb(0, 0, 0);
  }

#bigsubmit{
    size: 1fr;

}

h3{
    text-align: center;
}


.blink_me {
  animation: blinker 20s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.shadowed{
    box-shadow: 2px 2px 1px black;
}

.monstercard{
    box-shadow: 1px 2px 1px darkslategray;
}