/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');

 body {
     background-color: lightblue;
    background-image: url(/assets/bg_template.jpg);
    
 }

 h1, h2, h3, h4, h5, p, a {
    font-family: "Metal Mania";
 }

 h1{
    text-align: center;

 }

 .flex-container{

     display: grid;
     
    // flex-flow: row wrap;
    // align-content: space-around;
    // justify-content: flex-start;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
    text-align: center;

}

.centeredbox{
    display: inline-block;
    text-align: center;
    align-content: center;
}

.blindcenter{
    text-align: center;
}

.button_to {
    display: inline;
}



    